@page
@model AgentieTurism.Pages.Offers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Offer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Offer.Name" class="control-label"></label>
                <input asp-for="Offer.Name" class="form-control" />
                <span asp-validation-for="Offer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Offer.Description" class="control-label"></label>
                <input asp-for="Offer.Description" class="form-control" />
                <span asp-validation-for="Offer.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Offer.Price" class="control-label"></label>
                <input asp-for="Offer.Price" class="form-control" />
                <span asp-validation-for="Offer.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Offer.TimePeriod" class="control-label"></label>
                <select asp-for="Offer.TimePeriod" class="form-control"></select>
                <span asp-validation-for="Offer.TimePeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Offer.MealType" class="control-label"></label>
                <select asp-for="Offer.MealType" class="form-control"></select>
                <span asp-validation-for="Offer.MealType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Offer.NumberOfPersons" class="control-label"></label>
                <input asp-for="Offer.NumberOfPersons" class="form-control" />
                <span asp-validation-for="Offer.NumberOfPersons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
